.header {
    height: 100px;

}

.footer {
    background-color: #555;
    color: white;
    text-align: center;
    padding: 5px 0px
}

.header-menu {
    clear: both;
    width: 80%;
}
.header-menu img { max-height: 50px }

.body-text p {
    width: 500px;
    text-align: center;
}
.table td {
    vertical-align: middle;
}
.table td img {
    max-height: 45px;
}

.carousel-inner img {
    height: 450px;
    width: 600px;
}